* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(https://www.pexels.com/es-es/foto/pintura-de-pared-blanca-1260727/); }

h3 {
  font-family: 'Bebas Neue', cursive;
  text-align: center; }

h1 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 4rem; }

main {
  text-align: center;
  grid-area: main;
  margin: 100px;
  padding: 30px; }

.contenedor {
  font-family: 'Red Hat Mono', monospace; }

.containermain {
  display: flex;
  flex-direction: row; }

.presentacion {
  position: relative;
  left: 350px;
  top: 100px;
  animation: fadeInLeft;
  animation-duration: 2s; }

.gifInicio {
  height: 300px;
  position: relative;
  left: 380px;
  top: 100px;
  animation: fadeIn;
  animation-duration: 2s; }

.botoncv {
  color: lavender;
  background-color: #151313;
  font-family: 'Red Hat Mono', monospace;
  margin: 40px;
  padding: 10px;
  animation: fadeInDown;
  animation-duration: 7s;
  position: relative;
  right: 2px; }
  .botoncv:hover {
    background-color: aliceblue;
    color: black; }

.proyecto1 {
  text-align: center; }

.backP {
  position: relative;
  left: 80px;
  top: 80px;
  color: black;
  font-size: x-large; }

.emplearte1 {
  height: 200px; }

.parrafoP1 {
  margin: 0.2rem;
  padding: 10px; }

.parrafo1P1 {
  background-color: #eec2c2;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem; }

.parrafo2P1 {
  background-color: #a7e3ec;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem; }

.parrafo3P1 {
  background-color: #e9e6c1;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem; }

.fotoEmplearte1 {
  height: 50px; }

.emplearteBody {
  background-color: lavender; }

main {
  display: grid;
  grid-area: auto; }

@media (max-width: 1024px) {
  .fotoEmplearte1 {
    height: 50px; } }

@media (max-width: 768px) {
  .fotoEmplearte1 {
    height: 50px; } }

@media (max-width: 425px) {
  .fotoEmplearte1 {
    height: 50px; } }

@media (max-width: 375px) {
  .fotoEmplearte1 {
    height: 50px; } }

@media (max-width: 320px) {
  .fotoEmplearte1 {
    height: 50px; } }

.misProyectos {
  margin-top: 50px;
  position: relative;
  bottom: 70px; }

.textoProyectos {
  position: relative;
  bottom: 50px; }

@media (max-width: 1024px) {
  .misProyectos {
    position: relative;
    bottom: 70px;
    left: 50px; }
  .textoProyectos {
    position: relative;
    bottom: 50px;
    left: 50px; }
  .carrousselProyectos {
    position: relative;
    left: 60px; } }

@media (max-width: 768px) {
  .carrousselProyectos {
    position: relative;
    left: 50px; } }

@media (max-width: 425px) {
  .carrousselProyectos {
    position: relative;
    left: 10px;
    width: 150% !important; } }

@media (max-width: 375px) {
  .carrousselProyectos {
    position: relative;
    left: 10px;
    width: 180% !important; } }

@media (max-width: 320px) {
  .carrousselProyectos {
    position: relative;
    left: 10px;
    width: 200% !important; }
  .mainProyectos {
    right: 70px !important; } }

.contenedorSobreMi {
  background: antiquewhite;
  padding: 0px;
  margin: 0px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3fr);
  grid-template-rows: repeat(3fr);
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

.mainSobreMi {
  display: flex;
  flex-direction: row; }

.foto {
  height: 350px;
  margin: 1rem;
  padding: 5px; }

.pParrafo {
  margin: 5px;
  padding: 5px; }

.smTitulo {
  color: black; }

.experiencia {
  text-align: center;
  color: purple; }

.listaExperiencia {
  text-align: center;
  list-style-type: none; }

.seccionProgramas {
  margin-top: 130px; }

.programasPng {
  height: 20rem;
  margin-bottom: 50px; }

@media (max-width: 1024px) {
  .programasPng {
    height: 18rem; }
  .foto {
    height: 300px; } }

@media (max-width: 768px) {
  .programasPng {
    height: 14rem; }
  .foto {
    height: 200px; } }

@media (max-width: 425px) {
  .programasPng {
    height: 8rem; }
  .foto {
    height: 200px; }
  .pParrafo {
    position: relative;
    left: 20px; } }

@media (max-width: 375px) {
  .foto {
    height: 150px; }
  .programasPng {
    height: 6rem; } }

@media (max-width: 320px) {
  .foto {
    height: 125px; }
  .programasPng {
    height: 5rem; } }

.atenea1 {
  height: 20rem;
  position: relative;
  left: 400px; }

.videoAtenea {
  height: 30rem; }

@media (max-width: 768px) {
  .videoAtenea {
    height: 30rem; } }

@media (max-width: 425px) {
  .presentacion {
    left: 475px;
    top: 100px; }
  .gifInicio {
    display: none; } }

@media (max-width: 375px) {
  .presentacion {
    left: 450px;
    top: 100px; }
  .gifInicio {
    display: none; } }

@media (max-width: 320px) {
  .presentacion {
    left: 425px;
    top: 100px; }
  .gifInicio {
    display: none; } }

.ateneaCel {
  height: 400px; }

.ateneaTablet {
  height: 600px; }

.ateneaLaptop {
  height: 800px; }

.ateneaBody {
  background-color: #ffdddd; }

.infobae1 {
  height: 200px; }

.infobae7 {
  height: 800px; }

.infobaeBody {
  background-color: #ffd8c9; }

@media (max-width: 1024px) {
  main {
    position: relative;
    right: 300px; }
  .mainProyectos {
    position: relative;
    right: 50px; }
  .mainSobreMi {
    position: relative;
    right: 20px;
    flex-direction: column-reverse; } }

@media (max-width: 768px) {
  .mainSobreMi {
    flex-direction: column-reverse; }
  main {
    position: relative;
    right: 500px; }
  .gifInicio {
    height: 300px;
    position: relative;
    left: 550px; }
  .presentacion {
    left: 550px;
    top: 100px; } }

@media (max-width: 425px) {
  .presentacion {
    left: 475px;
    top: 100px; }
  .gifInicio {
    display: none; } }

@media (max-width: 375px) {
  .presentacion {
    left: 450px;
    top: 100px; }
  .gifInicio {
    display: none; } }

@media (max-width: 320px) {
  .presentacion {
    left: 425px;
    top: 100px; }
  .gifInicio {
    display: none; } }
