.misProyectos{
    margin-top: 50px;
    position: relative;
    bottom: 70px;
}
.textoProyectos{
   position: relative;
   bottom: 50px;
}



@media (max-width:1024px) {
    .misProyectos{
        position: relative;
        bottom: 70px;
        left: 50px;
    }
    .textoProyectos{
        position: relative;
        bottom: 50px;
        left: 50px;
     }
     .carrousselProyectos {
         position: relative;
         left: 60px;
     }
  }

@media (max-width: 768px) {
    .carrousselProyectos {
        position: relative;
        left: 50px;
    }
  }

  @media (max-width: 425px){
    .carrousselProyectos {
        position: relative;
        left: 10px;
        width: 150% !important;
    }
  }
  @media (max-width: 375px){
    .carrousselProyectos {
        position: relative;
        left: 10px;
        width: 180% !important;
    }
}
@media (max-width: 320px){
    .carrousselProyectos {
        position: relative;
        left: 10px;
        width: 200% !important;
    }
    .mainProyectos {
        right: 70px !important;
    }
}